/*
Creates the DBA database for managing DBA utilities and data.

!!! EDIT THE FILE LOCATIONS FOR THE SPECIFIC LOCATION !!!

Developer: Dan Denney
Date: 2015-10-14
*/
USE master;
GO

 

CREATE DATABASE [DBA]
        CONTAINMENT = NONE
    ON  PRIMARY 
        ( NAME = N'DBA', FILENAME = 'M:\MP_DB205_Data2\DATA\DBA.mdf' , 
            SIZE = 5120KB , FILEGROWTH = 262144KB ), 
    FILEGROUP [UserData] 
        ( NAME = N'DBA_UserData', FILENAME = N'M:\MP_DB205_Data2\DATA\DBA_UserData.ndf' , 
            SIZE = 262144KB , FILEGROWTH = 262144KB )
    LOG ON 
        ( NAME = N'DBA_log', FILENAME = N'M:\MP_DB205_Log2\LOG\DBA_log.ldf' , 
            SIZE = 262144KB , FILEGROWTH = 262144KB );
GO

USE [DBA];
GO

IF NOT EXISTS (SELECT name FROM sys.filegroups WHERE is_default=1 AND name = N'UserData') 
    ALTER DATABASE [DBA] MODIFY FILEGROUP [UserData] DEFAULT;
GO
