/*
Creates the Utility database for shared utilities and data.

!!! EDIT THE FILE LOCATIONS FOR THE SPECIFIC LOCATION !!!

Developer: Dan Denney
Date: 2015-10-14
*/
USE master
GO

CREATE DATABASE [Utility]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Utility', FILENAME = N'J:\Data\Utility.mdf' , SIZE = 4096KB , FILEGROWTH = 131072KB ), 
 FILEGROUP [UserData] 
( NAME = N'Utility_UserData', FILENAME = N'J:\Data\Utility_UserData.ndf' , SIZE = 131072KB , FILEGROWTH = 262144KB )
 LOG ON 
( NAME = N'Utility_log', FILENAME = N'L:\Logs\Utility_log.ldf' , SIZE = 131072KB , FILEGROWTH = 262144KB )
GO

USE [Utility]
GO
IF NOT EXISTS (SELECT name FROM sys.filegroups WHERE is_default=1 AND name = N'UserData') 
    ALTER DATABASE [Utility] MODIFY FILEGROUP [UserData] DEFAULT
GO
